.icon {
  padding: 5px 0px;
}

.flex-wrap {
  padding: 0px 10px;
}

header {
  border-radius: 0 0 20px 20px;
  margin: 0 20px 25px;
  background-color: #87CEEB;

  a:hover {
    text-decoration: underline;
  }

}

.active {
  font-weight: 600;
  font-size: 17px;
}

.page-content {
  margin: 10px;
  // height: calc(100vh - $);
  // overflow: hidden;
}
